*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
body{
	font-family: 'Abel', sans-serif;
}
/*Inicio cabezera*/
header {
	background-color: #EBEBEB;
	width: 100%;
	height: 5em;
	position: fixed;
	z-index: 100
}
.banner h1{
	font-size: 1.2em;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.banner{
	color: black;
	margin-top: 1%;
	text-align: left;
	float: left;
}
.banner img{
	width: 4em;
	height: auto;
	margin-bottom: -1em;
}
.home li{
	padding: 0 1em;
	list-style: none;
	display: inline-block;
	float: right;
	color: #FFF;
	text-decoration: none	
}
.home ul{
	margin-top: 9%;
	font-size: 1.2em;

}
.home a{
	text-decoration: none;
	color: #949494;
}
.home a:hover{
	color: #20B2AA;
}
.fa-bars{
	display: none;
}

/*Inicio sección 1*/
section img{
	width: 100%;
	height: 25em;
	object-fit: cover;
	background-position: center;
}
/*fin sección 1*/
/*Inicio sección 2*/
.row2{
	color: #000;
	margin-top: 5%;
}
.whatwedo h2{
	font-size: 1.7em;
	text-transform: uppercase;
	color: #20B2AA;
}
.whatwedo h2, .whatwedo p, .whatwedo input{
	padding-bottom: 1em;
}
.whatwedo p{
	width: 80%;
	line-height: 1.6em;
}
.contact h2{
	font-size: 1.7em;
	text-transform: uppercase;
	color: #20B2AA;
}
.contact h4{
	font-size: 1.1em;
	color: #AAD5C2;
}
.contact h2, .contact h4, .contact input{
	padding-bottom: 1em;
}
.contact p{
	line-height: 1.6em;
}
.contact a{
	text-decoration: none;
	color: #20B2AA;
}
/*botón*/
input {
	width: 13%;
	height: 15%;
	color: #FFF;
	border-radius: 8%;
	background-color: #20B2AA;
	padding-top: 1%;
	margin-top: 1em;
}
/*Fin sección 2*/
/*Inicio sección 3*/

.row3 img{
	width: 96%;
	height: auto;
	margin-top: 30%;
	margin-bottom: 2em;
}
.row3 p{
	width: 20%
	height:auto;
	line-height: 1.6em;
}
.row3 input{
	width: 26%;
	height: 7%;
	color: #FFF;
	border-radius: 8%;
	background-color: #20B2AA;
	margin-left: 1em; 
	margin-bottom: 2em;
	margin-top: 1em;

}
.row3 h3, .row3 p{
	padding: 1em;
}
.col-4 h3{
	color: #000;
	font-family: 'Roboto', sans-serif;∫
	margin-top: 1em;
}
/*Fin sección 3*/

/*footer*/
footer{
	background-color: #000;
	width: 100%;
	height: 10em;
	margin-top: 30em;
	margin-top: 5em;
}
.row4{
	color: #000;
	text-align: center;
	margin-top: 10%;
}
.copyright{
	margin-top: 5em;
	color: #FFF;
}
.copyright:hover{
	color: #20B2AA;
}
/*Fín del footer*/